@import "colors.scss";
$switch-speed: 1s;
$slider-number: 5;
$slider-width: 100% / $slider-number;

$image1: "https://images.unsplash.com/photo-1457369804613-52c61a468e7d?crop=entropy&fit=crop&fm=jpg&h=600&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=800";
$image2: "https://images.unsplash.com/photo-1456318019777-ccdc4d5b2396?crop=entropy&fit=crop&fm=jpg&h=600&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=800";
$image3: "https://images.unsplash.com/photo-1428189923803-e9801d464d76?crop=entropy&fit=crop&fm=jpg&h=600&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=800";
$image4: "https://images.unsplash.com/photo-1422393462206-207b0fbd8d6b?crop=entropy&fit=crop&fm=jpg&h=600&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=800";
$image5: "https://images.unsplash.com/photo-1439736637365-748f240b24fb?crop=entropy&fit=crop&fm=jpg&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=800";

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  // font-family: "Uchen", serif;
  a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    text-decoration: none;
    color: black;
  }
}

.header {
  &-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    &-left {
      margin-right: 50px;
      ul {
        list-style: none;
        display: flex;
        padding: 0;
        margin: 9px 0;
        li {
          margin: 0 10px;

          a {
            text-decoration: none;
            color: black;
            font-size: 12px;
          }
        }
      }
    }

    &-right {
      display: flex;
      align-items: center;
      margin-left: 80px;
      p {
        text-decoration: none;
        font-size: 12px;

        span {
          color: gray;
        }
        a {
          color: black;
          font-weight: 600;
          font-size: 11px;
        }
      }
      .vertical-line {
        border-left: 1px solid rgb(225, 225, 225);
        height: 40px;
        margin: 0 20px;
      }

      .dropdown {
        position: relative;
        display: inline-block;
        span {
          font-size: 12px;
          cursor: pointer;
          margin-right: 20px;
          i {
            margin-left: 5px;
          }
        }
      }
      .dropdown span:hover {
        color: red;
      }

      .dropdown-content {
        display: none;
        position: absolute;
        left: -8px;
        top: 35px;
        background-color: #f9f9f9;
        min-width: 50px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        margin-right: 100px;

        a {
          font-size: 12px;
        }
      }

      .dropdown:hover .dropdown-content {
        display: block;
      }

      .dropdown-content a {
        color: black;
        padding: 8px 16px;
        text-decoration: none;
        display: block;
      }

      .dropdown-content a:hover {
        background-color: #f1f1f1;
      }
    }
  }

  hr {
    margin: 0;
    border: 1px solid rgb(239, 239, 239);
  }

  &-bottom {
    display: flex;
    justify-content: space-around;
    &-left {
      display: flex;

      .logo {
        display: flex;
        align-items: center;
        padding: 21px 0;
        img {
          width: 164px;
        }
      }

      .nav-page {
        display: flex;
        // align-items: center;
        ul {
          display: flex;
          align-items: center;
          list-style: none;
          margin: 0;

          li {
            padding: 0 15px;
            a {
              font-size: 16px;
              font-weight: 500;
            }
          }
        }
      }
    }

    &-right {
      display: flex;
      align-items: center;
      a {
        padding: 0 10px;
        .icons {
          font-size: 22px;
        }
      }
    }
  }
}

.responsive-header {
  display: none;

  .header-content {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;

    .hamburger-menu {
      .sidenav {
        height: 100%;
        // width: 350px;
        position: fixed;
        z-index: 1111;
        top: 0;
        left: 0;
        background-color: #ffffff;
        overflow-x: hidden;
        transition: 0.5s;
        display: none;
      }

      .menu-content {
        padding: 10px 20px;
        span {
          color: rgb(118, 118, 118);
          font-size: 13px;
          font-weight: 300;
        }

        .header {
          margin-top: 30px;
        }

        ul {
          margin-top: 10px;
          list-style: none;
          padding: 0;
          a {
            padding-left: 0;
            border-bottom: 1px solid rgb(227, 227, 227);
            color: black;
            font-size: 16px;
          }
        }

        .lists {
          .new-arrivals {
            display: flex;
            justify-content: space-between;
            padding: 10px 10px 10px 0px;

            .arrival {
              color: #000;
              font-size: 16px;
              letter-spacing: 1px;
            }

            .new {
              background-color: rgb(91, 189, 222);
              color: white;
              font-weight: 600;
              border-radius: 12px;
              padding: 2px 12px;
              letter-spacing: 1px;
            }
          }
        }

        .list-header {
          margin-top: 40px;
        }

        .contact-item {
          margin-top: 10px;
          margin-bottom: 20px;

          .contact-detail {
            font-size: 18px;
            font-weight: 700;
            .phone-icon {
              margin-right: 5px;
            }

            span {
              font-weight: 800;
            }
          }
        }

        .menu-bottom {
          p {
            color: $grayword;
            margin-top: 50px;
            font-size: 13px;
          }
        }
      }

      .menu-header {
        display: flex;
        justify-content: space-between;
        padding: 15px 24px;

        .logo {
          display: flex;
          align-items: center;
          width: 147px;

          img {
            width: 100%;
          }
        }
      }

      .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #ffffff;
        display: block;
        transition: 0.3s;
        // width: 350px;
      }

      .sidenav a:hover {
        color: #f1f1f1;
      }

      .sidenav .closebtn {
        font-size: 36px;
        color: #000;
        // margin-left: 50px;
      }

      @media screen and (max-height: 450px) {
        .sidenav {
          padding-top: 15px;
        }
        .sidenav a {
          font-size: 18px;
        }
      }
    }

    .logo {
      width: 180px;
      display: flex;
      align-items: center;
      img {
        width: 100%;
      }
    }

    .basket-icon {
      display: flex;
      align-items: center;

      .bskt-icon {
        font-size: 25px;
      }
    }
  }
}

.slider {
  .main-slider {
    width: 100%;

    .item {
      position: relative;

      .slider-content {
        position: absolute;
        top: 20%;
        left: 27%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .slider-header {
          background-color: rgb(255, 0, 68);
          font-size: 14px;
          padding: 3px 20px;
          border-radius: 18px;
          font-weight: 600;
        }

        .slider-title {
          font-size: 65px;
          font-weight: 700;
          width: 650px;
          line-height: 1.2;
        }

        .slider-desc {
          font-size: 17px;
          color: rgb(208, 208, 208);
          width: 600px;
        }
      }
    }
  }

  #sync1 .item {
    position: relative;
    margin: 5px;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
  }

  #sync2 .item {
    background: #c9c9c9;
    padding: 10px 0px;
    margin: 5px;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
  }
  #sync2 {
    display: none;
  }
  #sync2 .current .item {
    background: #0c83e7;
  }

  .owl-theme .owl-nav [class*="owl-"] {
    transition: all 0.3s ease;
  }
  .owl-theme .owl-nav [class*="owl-"].disabled:hover {
    background-color: #d6d6d6;
  }

  #sync1.owl-theme {
    position: relative;
  }
  #sync1.owl-theme .owl-next,
  #sync1.owl-theme .owl-prev {
    width: 22px;
    height: 40px;
    margin-top: -20px;
    position: absolute;
    top: 50%;
  }
  #sync1.owl-theme .owl-prev {
    left: 10px;
  }
  #sync1.owl-theme .owl-next {
    right: 10px;
  }

  @media (max-width: 1200px) {
    .slider-content {
      left: 22% !important;
    }
  }
  @media (max-width: 1080px) {
    .slider-content {
      left: 19% !important;
    }
  }

  @media (max-width: 1200px) {
    #sync1.owl-theme .owl-prev {
      display: none;
    }

    #sync1.owl-theme .owl-next {
      display: none;
    }
  }
}

.categories {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  // gap: 30px;
  width: 100%;

  &-lights {
    padding: 0 15px !important;

    &-container {
      display: flex;
      padding: 0 10px;
      border: 1px solid $bordercolor;
      border-radius: 10px;
      padding: 20px 30px !important;

      &-img {
        img {
          width: 100%;
          border: 1px solid rgb(226, 226, 226);
          width: 128px;
          border-radius: 10px;
        }
      }

      &-desc {
        margin-left: 20px;

        .title {
          font-weight: 700;
          font-size: 15px;
        }

        ul {
          list-style: none;
          padding: 0;
          margin-bottom: 20px;
          li {
            margin-top: 5px;
          }
          a {
            color: $grayword;
            font-size: 13px;
          }

          a:hover {
            text-decoration: none;
            color: red;
          }
        }

        .all-lights {
          a {
            color: red;
            font-size: 12px;
            font-weight: 600;
          }
          a:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}

.on-sale {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 50px;

  .card {
    display: flex;
    padding: 15px;
    border: none;
    .img-container {
      overflow: hidden;
      border-radius: 15px;

      img {
        transition: transform 0.6s ease;
        width: 100%;
        height: 100%;
      }

      img:hover {
        transform: scale(1.1); /* Adjust the zoom level as desired */
      }
    }
  }

  .card-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    position: absolute;
    top: 13%;
    left: 6%;
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 3px;
    font-size: 16px;
  }
  .card-content2 {
    display: flex;
    flex-direction: column;
    align-items: start;
    position: absolute;
    top: 13%;
    left: 6%;
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
  }

  .red-bgc {
    background-color: rgb(248, 12, 67);
    color: white;
    border-radius: 40px;
    font-size: 12px;
    font-weight: 600;
    padding: 3px 10px;
  }
  .title {
    color: black;
    font-size: 26px;
    font-weight: 600;
    width: 300px;
    margin-top: 15px;
  }

  .desc {
    font-size: 13px;
    color: #646464;
    margin-top: 10px;
  }
  .shopnow {
    font-size: 14px;
    margin-top: 10px;
    font-weight: 600;
  }
}

.featured-products {
  margin-top: 30px;

  &-header {
    font-size: 24px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;

    &-left {
      display: flex;

      .tab-categories {
        margin-left: 40px;

        span {
          font-size: 12px;
          color: #000000;
        }
      }
    }

    &-right {
      font-size: 13px;
      display: flex;
      align-items: center;
    }

    .tab {
      overflow: hidden;
      background-color: #f1f1f1;
      border-radius: 10px;
    }

    .tab button {
      background-color: inherit;
      float: left;
      border-radius: 8px;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 4px 16px;
      transition: 0.3s;
      font-size: 17px;
      margin: 3px;
    }

    .tab button:hover {
      background-color: #ddd;
    }

    .tab button.active {
      background: linear-gradient(230deg, rgb(255, 128, 0), rgb(255, 0, 0));
      span {
        color: #fff;
      }
    }

    .tabcontent {
      display: none;
      padding: 6px 12px;
      border: 1px solid #ccc;
      border-top: none;
    }
  }

  .grayline {
    border-bottom: 1px solid rgb(197, 197, 197) !important;
    margin-top: 20px;
    margin-bottom: 0;
  }

  .tabcontent {
    margin-top: 20px;
    .owl-carousel {
      display: block;
    }
    .owl-nav button {
      position: absolute;
      top: 50%;
      background-color: #000;
      color: #fff;
      margin: 0;
      transition: all 0.3s ease-in-out;
    }
    .owl-nav button.owl-prev {
      left: -20px;
      top: 130px;
    }
    .owl-nav button.owl-next {
      right: -20px;
      top: 130px;
    }

    .owl-dots {
      text-align: center;
      padding-top: 15px;
    }
    .owl-dots button.owl-dot {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      display: inline-block;
      background: #ccc;
      margin: 0 3px;
    }
    .owl-dots button.owl-dot.active {
      background-color: #ff0000;
    }
    .owl-dots button.owl-dot:focus {
      outline: none;
    }
    .owl-nav button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: rgba(255, 255, 255, 0.38) !important;
    }
    span {
      font-size: 60px;
      position: relative;
      top: -5px;
    }
    .owl-nav button:focus {
      outline: none;
    }

    .img {
      img {
        border-radius: 10px;
      }
      .sale {
        position: absolute;
        background-color: rgb(232, 46, 0);
        font-size: 12px;
        font-weight: 600;
        color: white;
        padding: 2px 9px;
        border-radius: 22%;
        top: 10px;
        left: 10px;
      }

      .heart {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        position: absolute;
        background-color: rgb(234, 234, 234);
        font-size: 16px;
        font-weight: 600;
        color: rgb(0, 0, 0);
        padding: 2px 9px;
        border-radius: 100%;
        top: 10px;
        right: 10px;
      }
    }

    .image-desc {
      display: flex;
      flex-direction: column;
      margin-top: 15px;
      .img-title {
        font-size: 14px;
        font-weight: 600;
      }
      .img-title:hover {
        color: red;
      }

      .star-rating {
        font-size: 1px;
        .star-icon {
          font-size: 12px;
          margin-top: 15px;
          color: rgb(212, 212, 212);
        }
        .checked {
          color: orange;
        }
        .review {
          font-size: 12px;
          font-weight: 600;
          margin-left: 10px;
        }
      }

      .priceandbasket {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .price {
          display: flex;
          flex-direction: column;
          .old-price {
            text-decoration: line-through;
            color: #787878;
            font-size: 16px;
            margin-top: 15px;
          }
          .new-price {
            color: #ff0000;
            font-size: 19px;
            font-weight: 500;
            margin-top: 5px;
          }
        }

        .basket {
          font-size: 20px;
          background-color: #e7e7e7;
          border-radius: 30%;
          padding: 5px;
        }
        .basket:hover {
          background-color: red;
        }
      }

      .stock {
        margin-top: 8px;
        span {
          .package {
            margin-right: 5px;
          }
          font-size: 12px;
          font-weight: 600;
          color: rgb(0, 133, 0);
        }
      }
    }
  }

  @media (max-width: 992px) {
    .owl-nav button {
      display: none;
    }
  }
}

.discount-code-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  background-color: rgb(255, 237, 237);
  border-radius: 10px;
  border: 1px dashed red;
  p {
    margin: 0;
    padding: 30px 0;
    color: red;
    font-size: 20px;

    .code {
      background-color: rgb(215, 0, 0);
      color: white;
      padding: 8px 15px;
      border-radius: 40px;
    }

    .gray_p {
      color: #787878;
      font-size: 13px;
      margin-left: 10px;
    }
  }
}

.SaleThisWeek {
  .on-sale {
    display: flex;

    &-left {
      height: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .cards {
        display: flex;
        padding: 15px;
        .img-container {
          overflow: hidden;
          border-radius: 20px;

          img {
            transition: transform 0.6s ease;
            width: 100%;
            height: 100%;
          }

          img:hover {
            transform: scale(1.1); /* Adjust the zoom level as desired */
          }
        }
      }

      .card-content {
        display: flex;
        flex-direction: column;
        align-items: start;
        position: absolute;
        top: 5%;
        left: 10%;
        color: rgb(255, 255, 255);
        padding: 10px;
        border-radius: 5px;
        font-size: 16px;
      }

      .red-bgc {
        background-color: rgb(248, 12, 67);
        color: white;
        border-radius: 40px;
        font-size: 12px;
        font-weight: 600;
        padding: 3px 10px;
      }
      .title {
        color: black;
        font-size: 27px;
        font-weight: 600;
        width: 350px;
        margin-top: 10px;
      }

      .desc {
        font-size: 13px;
        color: #646464;
        margin-top: 5px;
        width: 350px;
      }
      .shopnow {
        font-size: 14px;
        margin-top: 10px;
        font-weight: 600;
      }
    }

    &-right {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .cards {
        display: flex;
        padding: 15px;
        .img-container {
          overflow: hidden;
          border-radius: 20px;
          img {
            transition: transform 0.6s ease;
            width: 100%;
            height: 100%;
          }

          img:hover {
            transform: scale(1.1); /* Adjust the zoom level as desired */
          }
        }
      }

      .card-content {
        display: flex;
        flex-direction: column;
        align-items: start;
        position: absolute;
        top: 8%;
        left: 6%;
        color: rgb(255, 255, 255);
        padding: 10px;
        border-radius: 5px;
        font-size: 16px;
      }
      .card-content2 {
        display: flex;
        flex-direction: column;
        align-items: start;
        position: absolute;
        top: 57%;
        left: 6%;
        color: rgb(255, 255, 255);
        padding: 10px;
        border-radius: 5px;
        font-size: 16px;
      }

      .red-bgc {
        background-color: rgb(248, 12, 67);
        color: white;
        border-radius: 40px;
        font-size: 12px;
        font-weight: 600;
        padding: 3px 10px;
      }
      .title {
        color: black;
        font-size: 26px;
        font-weight: 600;
        width: 300px;
        margin-top: 15px;
      }

      .desc {
        font-size: 13px;
        color: #646464;
        margin-top: 10px;
      }
      .shopnow {
        font-size: 14px;
        margin-top: 10px;
        font-weight: 600;
      }
    }
  }
}

.latest-deals {
  margin-top: 50px;

  &-header {
    p {
      font-size: 20px;
      font-weight: 500;

      span {
        font-size: 13px;
        color: #787878;
        margin-left: 15px;
      }
    }
  }

  .grayline {
    border-bottom: 1px solid rgb(197, 197, 197) !important;
    margin-top: 20px;
    margin-bottom: 0;
  }

  .products {
    width: 100%;
    display: flex;
    .products-left {
      display: flex;

      .img-container {
        margin-top: 20px;
        padding: 16px;

        .img {
          position: relative;

          img {
            width: 100%;
            border-radius: 20px;
            border: 1px solid $bordercolor;
          }
          .sale {
            position: absolute;
            background-color: rgb(232, 46, 0);
            font-size: 12px;
            font-weight: 600;
            color: white;
            padding: 2px 9px;
            border-radius: 6px;
            top: 10px;
            left: 20px;
          }

          .heart {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            position: absolute;
            background-color: rgb(234, 234, 234);
            font-size: 16px;
            font-weight: 600;
            color: rgb(0, 0, 0);
            padding: 2px 9px;
            border-radius: 100%;
            top: 10px;
            right: 10px;
          }
        }

        .image-desc {
          display: flex;
          flex-direction: column;
          margin-top: 15px;
          .img-title {
            font-size: 14px;
            font-weight: 600;
          }
          .img-title:hover {
            color: red;
          }

          .star-rating {
            font-size: 1px;
            .star-icon {
              font-size: 12px;
              margin-top: 15px;
              color: rgb(212, 212, 212);
            }
            .checked {
              color: orange;
            }
            .review {
              font-size: 12px;
              font-weight: 600;
              margin-left: 10px;
            }
          }

          .price {
            display: flex;

            .old-price {
              text-decoration: line-through;
              color: #787878;
              font-size: 16px;
              margin-top: 15px;
            }
            .new-price {
              color: #ff0000;
              font-size: 19px;
              font-weight: 500;
              margin-top: 12px;
              margin-left: 10px;
            }
          }

          .basket {
            font-size: 20px;
            background-color: #e7e7e7;
            border-radius: 30%;
            padding: 5px;
          }
          .basket:hover {
            background-color: red;
          }

          .stock {
            margin-top: 8px;
            span {
              .package {
                margin-right: 5px;
              }
              font-size: 12px;
              font-weight: 600;
              color: rgb(0, 133, 0);
            }
          }
        }
      }
    }
    .products-right {
      display: flex;

      .img-container {
        margin-top: 20px;
        padding: 16px;

        .img {
          position: relative;
          img {
            width: 100%;
            border-radius: 20px;
            border: 1px solid $bordercolor;
          }
          .sale {
            position: absolute;
            background-color: rgb(232, 46, 0);
            font-size: 12px;
            font-weight: 600;
            color: white;
            padding: 2px 9px;
            border-radius: 6px;
            top: 10px;
            left: 10px;
          }

          .heart {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            position: absolute;
            background-color: rgb(234, 234, 234);
            font-size: 16px;
            font-weight: 600;
            color: rgb(0, 0, 0);
            padding: 2px 9px;
            border-radius: 100%;
            top: 10px;
            right: 10px;
          }
        }

        .image-desc {
          display: flex;
          flex-direction: column;
          margin-top: 15px;
          .img-title {
            font-size: 14px;
            font-weight: 600;
          }
          .img-title:hover {
            color: red;
          }

          .star-rating {
            font-size: 1px;
            .star-icon {
              font-size: 12px;
              margin-top: 15px;
              color: rgb(212, 212, 212);
            }
            .checked {
              color: orange;
            }
            .review {
              font-size: 12px;
              font-weight: 600;
              margin-left: 10px;
            }
          }

          .price {
            display: flex;

            .old-price {
              text-decoration: line-through;
              color: #787878;
              font-size: 16px;
              margin-top: 15px;
            }
            .new-price {
              color: #ff0000;
              font-size: 19px;
              font-weight: 500;
              margin-top: 12px;
              margin-left: 10px;
            }
          }

          .basket {
            font-size: 20px;
            background-color: #e7e7e7;
            border-radius: 30%;
            padding: 5px;
          }
          .basket:hover {
            background-color: red;
          }

          .stock {
            margin-top: 8px;
            span {
              .package {
                margin-right: 5px;
              }
              font-size: 12px;
              font-weight: 600;
              color: rgb(0, 133, 0);
            }
          }
        }
      }
    }

    .img-container-big {
      margin-top: 20px;
      border: 4px solid rgb(255, 42, 0);
      border-radius: 15px;
      height: 100%;
      padding: 40px;

      .header {
        h4 {
          color: rgb(255, 30, 0);
          font-size: 23px;
        }

        p {
          color: $grayword;
          font-size: 12px;
        }

        .container {
          color: black;
          margin: 0 auto;
          // text-align: center;
        }

        h1 {
          font-weight: normal;
          letter-spacing: 0.125rem;
          text-transform: uppercase;
        }

        ul {
          padding: 0;
        }

        li {
          display: inline-block;
          font-size: 16px;
          list-style-type: none;
          padding: 5px;
          text-transform: uppercase;
        }

        .timer {
          background: linear-gradient(230deg, rgb(255, 128, 0), rgb(255, 0, 0));
          border-radius: 5px;
          span {
            color: white;
          }
        }

        li span {
          display: block;
          font-size: 18px;
        }

        .emoji {
          display: none;
          padding: 1rem;
        }

        .emoji span {
          font-size: 4rem;
          padding: 0 0.5rem;
        }

        @media all and (max-width: 768px) {
          h1 {
            font-size: calc(1.5rem * var(--smaller));
          }

          li {
            font-size: calc(1.125rem * var(--smaller));
          }

          li span {
            font-size: calc(3.375rem * var(--smaller));
          }
        }
      }

      .img {
        display: flex;
        position: relative;
        img {
          width: 100%;
          border-radius: 10px;
          border: 1px solid rgb(205, 205, 205);
        }

        .heart {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 30px;
          height: 30px;
          position: absolute;
          background-color: rgb(255, 255, 255);
          font-size: 16px;
          font-weight: 600;
          color: rgb(229, 0, 0);
          padding: 2px 9px;
          border-radius: 100%;
          top: 20px;
          right: 20px;
        }

        .heart-btn {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 30px;
          height: 30px;
          position: absolute;
          font-size: 20px;
          background-color: #f0f0f0;
          border-radius: 60%;
          padding: 10px;
          right: 20px;
          top: 20px;
        }
      }

      .image-desc {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        .img-title {
          font-size: 16px;
          font-weight: 600;
          margin-top: 15px;
        }
        .img-title:hover {
          color: red;
        }

        .star-rating {
          font-size: 1px;
          .star-icon {
            font-size: 12px;
            margin-top: 15px;
            color: rgb(212, 212, 212);
          }
          .checked {
            color: orange;
          }
          .review {
            font-size: 14px;
            font-weight: 600;
            margin-left: 10px;
          }
        }

        .price {
          display: flex;

          .old-price {
            text-decoration: line-through;
            color: #787878;
            font-size: 16px;
            margin-top: 15px;
          }
          .new-price {
            color: #ff0000;
            font-size: 19px;
            font-weight: 500;
            margin-top: 12px;
            margin-left: 10px;
          }
        }

        .basket {
          font-size: 20px;
          background-color: #e7e7e7;
          border-radius: 30%;
          padding: 5px;
        }
        .basket:hover {
          background-color: red;
        }

        .stock {
          margin-top: 8px;
          span {
            .package {
              margin-right: 5px;
            }
            font-size: 13px;
            font-weight: 600;
            color: rgb(0, 133, 0);
          }
        }
      }

      .progress-container {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        progress {
          width: 100%;
          height: 20px;
          color: red;
        }
        .quantity {
          display: flex;
          justify-content: space-between;
          span {
            font-size: 14px;
          }
        }
      }
    }
  }
}

.searchandorder-container {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 50px;

  .card {
    display: flex;
    padding: 15px;
    border: none;
    .img-container {
      overflow: hidden;
      border-radius: 20px;

      img {
        transition: transform 0.6s ease;
        width: 100%;
        height: 100%;
      }

      img:hover {
        transform: scale(1.1); /* Adjust the zoom level as desired */
      }
    }
  }

  .card-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    position: absolute;
    top: 13%;
    left: 4%;
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
  }

  .red-bgc {
    background-color: rgb(248, 12, 67);
    color: white;
    border-radius: 40px;
    font-size: 12px;
    font-weight: 700;
    padding: 3px 10px;
  }
  .title {
    color: black;
    font-size: 28px;
    font-weight: 700;
    width: 550px;
    margin-top: 15px;
  }

  .desc {
    font-size: 13px;
    color: #646464;
    margin-top: 10px;
  }
  .shopnow {
    font-size: 14px;
    margin-top: 20px;
    font-weight: 600;
  }
}

.featured-products2 {
  margin-top: 30px;

  &-header {
    display: flex;
    justify-content: space-between;
    &-left {
      p {
        font-size: 20px;
        font-weight: 500;

        span {
          font-size: 13px;
          color: #787878;
          margin-left: 15px;
        }
      }
    }

    &-right {
      display: flex;
      align-items: center;
      a {
        font-size: 13px;
      }
    }
  }

  .grayline {
    border-bottom: 1px solid rgb(197, 197, 197) !important;
    margin-top: 20px;
    margin-bottom: 0;
  }

  &-content {
    margin-top: 20px !important;
    .products {
      // height: 100%;
      // padding: 24px;
      padding: 15px !important;
      // margin-right: 15px;

      &-content {
        border: 1px solid $bordercolor;
        border-radius: 15px;
        padding: 24px;

        .img {
          display: flex;
          position: relative;
          img {
            width: 100%;
            border-radius: 10px;
            border: 1px solid $bordercolor;
          }

          .heart {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            position: absolute;
            background-color: rgb(255, 255, 255);
            font-size: 16px;
            font-weight: 600;
            color: rgb(229, 0, 0);
            padding: 2px 9px;
            border-radius: 100%;
            top: 20px;
            right: 20px;
          }

          .heart-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            position: absolute;
            font-size: 20px;
            background-color: #ffffff;
            border: 1px solid rgb(226, 226, 226);
            border-radius: 60%;
            padding: 10px;
            right: 20px;
            top: 20px;
          }
        }

        .image-desc {
          display: flex;
          flex-direction: column;
          margin-top: 15px;
          .img-title {
            font-size: 16px;
            font-weight: 600;
            margin-top: 15px;
          }
          .img-title:hover {
            color: red;
          }

          .star-rating {
            font-size: 1px;
            .star-icon {
              font-size: 12px;
              margin-top: 15px;
              color: rgb(212, 212, 212);
            }
            .checked {
              color: orange;
            }
            .review {
              font-size: 14px;
              font-weight: 600;
              margin-left: 10px;
            }
          }

          .price {
            display: flex;

            .old-price {
              text-decoration: line-through;
              color: #787878;
              font-size: 16px;
              margin-top: 15px;
            }
            .new-price {
              color: #ff0000;
              font-size: 19px;
              font-weight: 500;
              margin-top: 12px;
              margin-left: 10px;
            }
          }

          .stock {
            margin-top: 8px;
            span {
              .package {
                margin-right: 5px;
              }
              font-size: 13px;
              font-weight: 600;
              color: rgb(0, 133, 0);
            }
          }
        }
      }

      .progress-container {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        progress {
          width: 100%;
          height: 20px;
          color: red;
        }
        .quantity {
          display: flex;
          justify-content: space-between;
          span {
            font-size: 14px;
          }
        }
      }

      .advantage {
        margin-top: 20px;
        span {
          font-size: 12px;
          color: $grayword;
        }
      }
    }

    .products-parts {
      padding: 15px;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .products-content {
        display: flex;

        img {
          width: 100%;
          border-radius: 10px;
          border: 1px solid $bordercolor;
          
        }

        .img-desc {
          .img-title {
            font-size: 14px;
            font-weight: 600;
            margin-top: 15px;
          }
          .img-title:hover {
            color: red;
          }

          .star-rating {
            .star-icon {
              font-size: 10px;
              // margin-top: 15px;
              color: rgb(212, 212, 212);
            }
            .checked {
              color: orange;
            }
            .review {
              font-size: 12px;
              font-weight: 600;
              margin-left: 10px;
            }
          }

          .price {
            display: flex;
            align-items: center;

            .old-price {
              text-decoration: line-through;
              color: #787878;
              font-size: 14px;
            }
            .new-price {
              color: #ff0000;
              font-size: 17px;
              font-weight: 500;
              margin-left: 10px;
            }
          }
        }
      }

      .grayline {
        border-bottom: 1px solid $bordercolor !important;
        margin-top: 20px;
      }

      .main {
        display: flex;
        margin-top: 10px;

        p {
          margin-left: 10px;
          color: $grayword;
          font-size: 12px;
          margin-bottom: 0;
        }
        .countdown {
          display: flex;
          align-items: center;
          gap: 5px;
        }

        .countdown > div {
          display: flex;
          flex-wrap: nowrap;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-radius: 5px;
        }
        .number {
          color: #000000;
          background-color: #ececec;
          padding: 5px;
          border-radius: 5px;
        }

        div span:last-of-type {
          font-size: 12px;
        }

        @media screen and (max-width: 600px) {
          h1 {
            font-size: 40px;
          }

          .countdown {
            flex-direction: column;
            align-items: center;
            gap: 10px;
            margin-top: 30px;
          }
          .countdown > div {
            background-color: #fff;
            width: 250px;
            height: 60px;
            margin: 0;
            flex-direction: row;
            justify-content: space-between;
            padding: 20px;
          }
          div span:last-of-type {
            font-size: 24px;
            text-transform: uppercase;
          }
          .number {
            font-size: 34px;
          }
        }
      }
    }
  }
}

.sales {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 50px;

  .card {
    display: flex;
    padding: 15px;
    border: none;
    .img-container {
      overflow: hidden;
      border-radius: 15px;

      img {
        transition: transform 0.6s ease;
        width: 100%;
        height: 100%;
      }

      img:hover {
        transform: scale(1.1); /* Adjust the zoom level as desired */
      }
    }
  }

  .card-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    position: absolute;
    top: 9%;
    left: 7%;
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
  }

  .red-bgc {
    background-color: rgb(248, 12, 67);
    color: white;
    border-radius: 40px;
    font-size: 12px;
    font-weight: 600;
    padding: 3px 10px;
  }
  .title {
    color: black;
    font-size: 26px;
    font-weight: 600;
    width: 245px;
    margin-top: 15px;
  }

  .desc {
    font-size: 13px;
    color: #646464;
    margin-top: 10px;
  }
  .shopnow {
    font-size: 14px;
    margin-top: 10px;
    font-weight: 600;
  }

  @media (max-width: 1200px) {
    .card-content {
      top: 10%;
      left: 7%;
    }
    .title {
      color: black;
      font-size: 22px;
      font-weight: 600;
      width: 240px;
    }
  }
  @media (max-width: 1140px) {
    .shopnow {
      margin-top: 5px;
    }
    
  }
  // @media (max-width: ) {
    
  // }
}

.news {
  margin-top: 30px;
  margin-bottom: 20px;
  &-header {
    display: flex;
    justify-content: space-between;
    &-left {
      p {
        font-size: 20px;
        font-weight: 500;

        span {
          font-size: 13px;
          color: #787878;
          margin-left: 15px;
        }
      }
    }

    &-right {
      display: flex;
      align-items: center;
      a {
        font-size: 13px;
      }
    }
  }

  .grayline {
    border-bottom: 1px solid rgb(197, 197, 197) !important;
    margin: 20px 0;
  }

  &-content {
    .img {
      position: relative;
      img {
        width: 100%;
        border-radius: 10px;
      }

      span {
        position: absolute;
        left: 15px;
        top: 15px;
        background-color: #fff;
        padding: 3px 10px;
        border-radius: 12px;
        font-size: 12px;
        font-weight: 700;
      }
    }

    .img-info {
      display: flex;
      flex-direction: column;
      margin-top: 20px;

      .published-date {
        font-size: 12px;
        margin-bottom: 6px;
      }

      .title {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.2;
      }

      p {
        margin-top: 10px;
        font-size: 13px;
        color: $grayword;
      }

      .additional {
        display: flex;
        div {
          display: flex;
          flex-direction: column;
          margin-right: 20px;
          font-size: 13px;
          span {
            color: $grayword;
          }
        }
      }
    }
  }
}

.grayline {
  border-bottom: 1px solid rgb(197, 197, 197) !important;
  margin: 60px 0;
}

.ourbusiness {
  display: flex;
  flex-direction: column;
  align-items: center;
  h3 {
    font-size: 24px;
  }
  p {
    text-align: center;
    font-size: 15px;
    color: $grayword;
    width: 660px;
    margin-top: 10px;
  }
  .imgs {
    display: flex;
    margin-bottom: 50px;
    .img {
      padding: 0 40px;
    }

    img {
      width: 100%;
      filter: grayscale(50%);
    }

    img:hover {
      filter: grayscale(100%);
    }
  }
}

.email {
  padding-bottom: 60px;
  &-left {
    display: flex;
    padding-right: 60px !important;
    .envelope {
      font-size: 60px;
      padding-right: 30px;
    }

    .email-content {
      h5 {
        color: rgb(230, 0, 0);
        font-size: 16px;
        margin-bottom: 10px;
      }
      h3 {
        font-size: 26px;
        margin-bottom: 10px;
      }
      p {
        font-size: 14px;
        color: $grayword;
        width: 350px;
      }
    }
  }

  &-right {
    display: flex;
    flex-direction: column;
    align-items: end;
    &-top {
      .input-email {
        display: flex;
        justify-content: space-between;
        border: 1px solid $bordercolor;
        border-radius: 6px;
        padding: 4px 4px 4px 10px;
        gap: 15px;
        input {
          width: 350px;
          border: none;
          font-size: 16px;
        }

        input::placeholder {
          font-size: 16px;
        }
        input:focus {
          outline: none;
        }

        .btn {
          background-color: rgb(255, 0, 38);
          font-size: 16px !important;
          font-weight: 700 !important;
          width: 100px;
          color: white;
        }
      }
    }

    &-bottom {
      margin-top: 10px;
      p {
        font-size: 12px;
        a {
          color: red;
          text-decoration: underline;
        }
      }
    }
  }
}

.footer {
  background-color: $footerbgc;

  &-inner {
    display: flex;
    padding: 80px 0;
    .column-left {
      display: flex;
      padding: 0 20px !important ;

      &-container {
        padding-bottom: 20px;
        .logo {
          margin-bottom: 20px;
          img {
            width: 50%;
          }
        }

        h3 {
          color: white;
        }

        p {
          font-size: 14px;
          color: $grayword;
        }
        a {
          color: red;
          font-size: 14px;
          margin-bottom: 30px;
        }
      }
      .vertical-line {
        border-left: 1px solid rgb(255, 255, 255);
        height: 100%;
        margin: 0 20px;
      }
    }

    .column-right {
      .column-big {
        h4 {
          color: white;
        }

        .phonenumber {
          p {
            margin-top: 20px;
            margin-bottom: 10px;
            color: white;
            font-size: 24px;
            font-weight: 500;
          }
        }

        .company-works {
          margin-bottom: 10px;
          p {
            color: $grayword;
            font-size: 14px;
            margin: 0;
          }
        }

        a {
          color: red;
          font-size: 14px;
          margin-bottom: 30px;
          margin-top: 20px;
        }
      }

      .column-small {
        h4 {
          color: white;
          margin-bottom: 20px;
        }

        ul {
          list-style: none;
          padding: 0;

          li {
            margin-bottom: 5px;

            a {
              color: white;
              font-size: 15px;
            }
            a:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  &-middle {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid white;
    border-top: 1px solid white;

    span {
      display: flex;
      color: white;
      font-size: 15px;
      padding: 5px 0;
      .vertical-line {
        border-left: 1px solid rgb(237, 237, 237);
        height: 100%;
        margin: 0 20px;
      }
    }
  }

  &-bottom {
    padding: 50px 0;
    ul {
      display: flex;
      gap: 16px;
      padding: 0;
      a {
        color: white;
        font-size: 13px;
      }
      a:hover {
        text-decoration: underline;
      }
    }

    .middle {
      display: flex;
      justify-content: space-between;
      &-left {
        display: flex;
        align-items: center;
        p {
          color: $grayword;
          font-size: 13px;
        }
      }
    }

    .bottom {
      margin-top: 20px;
      span {
        color: white;
        font-size: 13px;
        margin-right: 10px;
      }
    }
  }

  @media (min-width: 992px) {
    .container {
      margin: 0 !important;
      max-width: 100%;
    }
  }
}

@media (max-width: 1200px) {
  .header {
    display: none;
  }

  .responsive-header {
    display: block;
    z-index: 999;
  }

  .main {
    margin: 0 !important;
    max-width: 100% !important;
    // padding: 0 !important;
  }
}
